body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    background-color: antiquewhite;
    margin: auto;
   
}
h1{
    font-weight: bold;
    color: purple;
    float: right;
}
h2{
    text-transform: uppercase;
}
#chicken{
    color: blue;
}
a:hover{
    font-size: large;
    padding-left: 100px;
}
p { 
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
  }
